.is-hidden {
  display: none;
}

.aras {
  text-align: center;
}

.aras-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.aras-main {
  background-color: #f6f6f6;
}

.aras-header {
  background-color: #42ab9e;
  color: #ffffff;
  font-weight: 900;
}

.aras-header__row {
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.aras-title {
  font-size: 4em;
  margin-left: -60px;
}

.aras-title .aras-icon {
  font-size: 45px;
}

.aras-intro {
  font-size: large;
}

.nav-item {
  font-size: 3em;
}

.aras-nav {
  background-color: #34887e;
  justify-content: center;
}

.mdl-layout__tab-bar-button {
  background-color: #34887e;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: #8dd3cb;
}

.tab-name {
  align-items: center;
  display: flex;
}

.tab-name__text {
  padding-left: 10px;
}

@keyframes aras-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
